<%if user_signed_in?%>
    <%= link_to "Sign Out", destroy_user_session_path, data: {turbo_method: :delete} %>
    <%= link_to "Edit Profile", edit_user_registration_path %>
<%else%>
    <%= link_to "Sign In", new_user_session_path %>
    <%= link_to "Sign Up", new_user_registration_path %>
<%end%>
<h1>Home Page</h1>
<h2>Books available</h2>
<% @books.each do |book| %>
 <p><%= book.name%></p>
 <p>Author: <%= author_name(book.author)%></p>
 <p>Units: <%= book.stock%></p>
 <p>Price: $<%= book.price%></p>
<%end%>